@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
.events {
    max-height: 300px;
    overflow-y: scroll;
}

.eventCard {
    position: relative;
}

.eventDescription {
    float: left;
}

.moreIcon {
    float: right;
}

.center {
    margin: auto;
    padding-left: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #ffffff;
    font-family: Roboto,serif;

    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
        font-family: Roboto;

    font-size: 22px;
    font-weight: bold;
  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    /* font-weight: bold; */
    font-size: 1em;
    color: #8F9BB3 ;
    
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    font-family: Roboto;

  }
  .react-calendar__month-view__days__day--weekend {
    color: #000000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #8F9BB3;
    text-transform: lowercase;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
  }

  .react-calendar .academicHighlight {
    background: #E5A712;
    border-radius: 15px;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 6px;
    background: none;
    text-align: center;
    line-height: 16px;max-height: 60px;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
  }
  .react-calendar__tile--now {
    background: #00ADEF;
    border-radius: 15px;

  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #4cbfec;
  }
  .react-calendar__tile--hasActive {
    background: #ef00e3;
    border-radius: 15px;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #ef00e3;
    border-radius: 15px;
  }
  .react-calendar__tile--active {
    background: #735BF2;
    color: white;
    border-radius: 15px;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #8e7bee;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
  }

  .button_updates{
    color:rgb(87, 84, 84);
    background-color: white; 
    border: 1px solid rgb(204, 198, 198);



  }
  .button_updates:hover {
    background-color: rgb(192, 188, 188); 
    color:white;
  }
  
  