.chat__footer {
    padding: 10px;
    background-color: #f9f5eb;
    height: 10vh;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sendBtn {
    width: 150px;
    background-color: green;
    padding: 10px;
    border: none;
    outline: none;
    color: #eae3d2;
    cursor: pointer;
}

.sendBtn:hover {
    background-color: rgb(129, 201, 129);
}

.message {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    padding: 15px;
}
